.DS_Store
.idea/
.chrome/


**/coverage.out

tmp
coverage
stats.json
settings.json
*.json
client/dist/*.*



*\.docx
**.orig

templates/ooxml/*.xml
templates/ooxml/word/document.xml
templates/ooxml/word/header1.xml
templates/ooxml/word/footer1.xml



